<h2>Things</h2>
<form [formGroup]="thingForm" (ngSubmit)="onSubmit(thingForm.value)">
    <input id="desc" type="text" formControlName="desc"
        placeholder="Enter new thing" required>
    <button class="button" type="submit">Add Thing</button>
</form>
<table class="table table-striped mt-5">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let thing of things$ | async">{{thing.desc}}</li>
    </ul>
</table>

